.hilite_red     { color: red;}
.hilite_green   { color: green;}
.hilite_blue    { color: blue;}
.hilite_yellow  { color: yellow;}
.hilite_cyan    { color: cyan;}
.hilite_magenta { color: magenta;}
.hilite_white   { color: white;}
